#login-box.form-box
    .form-header Sign In
    .body.bg-gray
        p.alert.alert-danger(v-if='mainErr != ""') {{ mainErr }}
        .form-group
            input.form-control(type='text' name='email' v-model='email' placeholder='Email')
            p.alert.alert-danger(v-if='validation.hasError("email")') {{ validation.firstError('email') }}
        .form-group
            input.form-control(type='password' name='password' v-model='password' placeholder='Password')
            p.alert.alert-danger(v-if='validation.hasError("password")') {{ validation.firstError('password') }}
    .footer
        button.btn.bg-olive.btn-block(v-on:click='login') Sign me in
        p.text-right
            a.text-info(href='/admin/forget') I forgot my password