extends layouts/dashboard_layout

block content
    aside.right-side
        section.content-header
            h1
                | Dashboard&nbsp;
                small Control panel
            ol.breadcrumb
                li
                    a(href='/')
                        i.fa.fa-dashboard
                        |  Dashboard
        section.content
            .row
                .col-lg-3.col-xs-6
                    .small-box.bg-aqua
                        .inner
                            h3
                                | 150
                            p
                                | Total users
                        .icon
                            i.ion.ion-bag
                        a.small-box-footer(href='#')
                            | More info&nbsp;
                            i.fa.fa-arrow-circle-right
                .col-lg-3.col-xs-6
                    .small-box.bg-blue
                        .inner
                            h3
                                | 150
                            p
                                | Total drivers
                        .icon
                            i.ion.ion-bag
                        a.small-box-footer(href='#')
                            | More info&nbsp;
                            i.fa.fa-arrow-circle-right
                .col-lg-3.col-xs-6
                    .small-box.bg-green
                        .inner
                            h3
                                | 53
                            p
                                | Total Requests
                        .icon
                            i.ion.ion-stats-bars
                        a.small-box-footer(href='#')
                            | More info&nbsp;
                            i.fa.fa-arrow-circle-right
                .col-lg-3.col-xs-6
                    .small-box.bg-yellow
                        .inner
                            h3
                                | Rs.44
                            p
                                | Total Income
                        .icon
                            i.ion.ion-person-add
                        a.small-box-footer(href='#')
                            | More info&nbsp;
                            i.fa.fa-arrow-circle-right
                .col-lg-3.col-xs-6
                    .small-box.bg-red
                        .inner
                            h3
                                | 65
                            p
                                | Drivers requests
                        .icon
                            i.ion.ion-pie-graph
                        a.small-box-footer(href='#')
                            | More info&nbsp;
                            i.fa.fa-arrow-circle-right

