extends ./../layouts/dashboard_layout

block content
    aside.right-side
        section.content-header
            h1
                | Payments&nbsp;
                small Payments History
            ol.breadcrumb
                li
                    a(href='/')
                        i.fa.fa-dashboard
                        |  Dashboard
                li.active Payments
        section.content
            .row
                .col-xs-12
                    div.table-responsive
                        table.table.table-hover.table-striped#example6
                            thead
                                tr
                                    th Id
                                    th Date
                                    th Invoice#
                                    th Order Details
                                    th Order Amount
                            tbody
                                tr
                                    td 1
                                    td 12-28-2101
                                    td
                                        a(href='') 234234
                                    td
                                        a(href='') Order#(23423)
                                        br
                                        |Origin(Jauhar) Destination(Gulshan)
                                        br
                                        |User(Noman) Driver(Ali) Distance(5Km)
                                    td Rs.4356
                                tr
                                    td 1
                                    td 12-28-2101
                                    td
                                        a(href='') 234234
                                    td
                                        a(href='') Order#(23423)
                                        br
                                        | Origin(Jauhar) Destination(Gulshan)
                                        br
                                        | User(Noman) Driver(Ali) Distance(5Km)
                                    td Rs.4356
                            tfoot
                                tr
                                    td
                                    td
                                    td
                                    td Total
                                    td Rs.23424234
        section.content-header
            h1
                | Commission&nbsp;
                small Commission History
        section.content
            .row
                .col-xs-12
                    div.table-responsive
                        table.table.table-hover.table-striped#example7
                            thead
                                tr
                                    th Id
                                    th Date
                                    th Invoice#
                                    th Order Details
                                    th Order Amount
                            tbody
                                tr
                                    td 1
                                    td 12-28-2101
                                    td
                                        a(href='') 234234
                                    td
                                        a(href='') Order#(23423)
                                        br
                                        | Origin(Jauhar) Destination(Gulshan)
                                        br
                                        | User(Noman) Driver(Ali) Distance(5Km)
                                    td Rs.4356
                                tr
                                    td 1
                                    td 12-28-2101
                                    td
                                        a(href='') 234234
                                    td
                                        a(href='') Order#(23423)
                                        br
                                        | Origin(Jauhar) Destination(Gulshan)
                                        br
                                        | User(Noman) Driver(Ali) Distance(5Km)
                                    td Rs.4356
                            tfoot
                                tr
                                    td
                                    td
                                    td
                                    td Total
                                    td Rs.23424234


