extends ./../layouts/dashboard_layout

block content
    aside.right-side
        section.content-header
            h1 Add Driver
            ol.breadcrumb
                li
                    a(href='/')
                        i.fa.fa-dashboard
                        |  Dashboard
                li.active Add Driver
        section.content
            .row
                .col-xs-12
                    .box
                        .box-header
                            h3.box-title Add Driver
                        .box-body
                            .row#main
                                .col-md-6.col-md-offset-3
                                    if(typeof errors !== "undefined")
                                        add-driver(csrf=csrf errors=errors oldvalues=oldvalues)
                                    else
                                        add-driver(csrf=csrf)
block scripts
    script(src="/javascripts/vue_frameworks/pages/add_driver/build.js")



