extends ./../layouts/dashboard_layout

block content
    aside.right-side
        section.content-header
            h1
                | Comission&nbsp;
                small Comission details
            ol.breadcrumb
                li
                    a(href='/')
                        i.fa.fa-dashboard
                        |  Dashboard
                li.active Payments
        section.content
            .container
                .row
                    .col-md-4
                        form(action='#',method='post')
                            .form-group
                                label(for='amount') Amount
                                input(type='text', id='amount',placeholder='Enter the amount here').form-control
                            .form-group
                                label(for='date') Date
                                input(type='date' id='date').form-control
                            .form-group
                                label(for='driver') Driver Name
                                select.form-control
                                    option(value='1') Asad
                                    option(value='1') Asad
                                    option(value='1') Asad
                            .form-group
                                label(for='narration') Narration
                                textarea(row='3' col='3').form-control
                            .form-group
                                input(type='submit' value='Submit').btn.btn-primary


