doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        //facebook sharing content
        meta(property="fb:app_id" content="1379317195528816")
        meta(property="og:url" content="https://roadioapp.com")
        meta(property="og:type" content="website")
        meta(property="og:title" content="RoadioApp")
        meta(property="og:description" content="Saman bhejna ab hua asan Car, Suzuki ya Truck sirf ek button ki duri per.")
        meta(property="og:image" content="https://roadioapp.com/images/fav_icon.png")

        // SITE TITLE
        title Roadioapp
        //
          =========================
          FAV AND TOUCH ICONS
          ==============================
        link(rel='icon', href='/images/fav_icon.png')
        //link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
        //link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
        //link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
        //
          =========================
          STYLESHEETS
          ==============================
        // BOOTSTRAP
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        // FONT ICONS
        link(rel='stylesheet', href='/stylesheets/assets/elegant-icons/style.css')
        link(rel='stylesheet', href='/stylesheets/assets/app-icons/styles.css')
        //if lte IE 7
          script(src='lte-ie7.js')
        // WEB FONTS
        link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic', rel='stylesheet', type='text/css')
        // CAROUSEL AND LIGHTBOX
        link(rel='stylesheet', href='/stylesheets/css/owl.theme.css')
        link(rel='stylesheet', href='/stylesheets/css/owl.carousel.css')
        link(rel='stylesheet', href='/stylesheets/css/nivo-lightbox.css')
        link(rel='stylesheet', href='/stylesheets/css/nivo_themes/default/default.css')
        // ANIMATIONS
        link(rel='stylesheet', href='/stylesheets/css/animate.min.css')
        // CUSTOM STYLESHEETS
        link(rel='stylesheet', href='/stylesheets/css/styles.css')
        // COLORS
        link(rel='stylesheet', href='/stylesheets/css/colors/blue.css')
        // DEFAULT COLOR/ CURRENTLY USING
        // <link rel="stylesheet" href="css/colors/red.css">
        // <link rel="stylesheet" href="css/colors/green.css">
        // <link rel="stylesheet" href="css/colors/purple.css">
        // <link rel="stylesheet" href="css/colors/orange.css">
        // <link rel="stylesheet" href="css/colors/blue-munsell.css">
        // <link rel="stylesheet" href="css/colors/slate.css">
        // <link rel="stylesheet" href="css/colors/yellow.css">
        // RESPONSIVE FIXES
        link(rel='stylesheet', href='/stylesheets/css/responsive.css')
        //if lt IE 9
          script(src='js/html5shiv.js')
          script(src='js/respond.min.js')
        // JQUERY
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    body
        //
          =========================
          PRE LOADER
          ==============================
        //
          =========================
          HEADER
          ==============================
        header#home.header
                // To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">
                // STICKY NAVIGATION
                .navbar.navbar-inverse.bs-docs-nav.navbar-fixed-top.sticky-navigation
                    .container
                        .navbar-header
                            // LOGO ON STICKY NAV BAR
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#kane-navigation')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            a.navbar-brand(href='#')
                                img(src='/images/roadio_logo_web.png', alt='')
                        // NAVIGATION LINKS
                        #kane-navigation.navbar-collapse.collapse
                            ul.nav.navbar-nav.navbar-right.main-navigation
                                li
                                    a(href='/') Home
                                li
                                    a(href='/') Features
                                li
                                    a(href='/') Why Us?
                                li
                                    a(href='/') About
                                li
                                    a(href='/') Services
                                li
                                    a(href='/') How to order
                                li
                                    a(href='/') Download
                                li
                                    a(href='/privacy') Privacy
                                li
                                    a(href='/partner') Partner
                                li
                                    a(href='/faqs') FAQs
                    // /END CONTAINER
                // /END STICKY NAVIGATION
                // CONTAINER


        //
          =========================
          FEATURES
          ==============================
        section#features.features
            .container.text-left.privacy-container
                h3 PRIVACY & POLICY
                p This privacy policy applies between you, the User of this Website and Roadioapp, the owner and provider of this Website. Roadioapp Ltd takes the privacy of your information very seriously. This privacy policy applies to our use of any and all Data collected by us or provided by you in relation to your use of the Website. Please read this privacy policy carefully.
                h3 Definitions and interpretation
                h5 1.In this privacy policy, the following definitions are used:
                p
                    b Data:
                    | collectively all information that you submit to Roadioapp via the Website. This definition incorporates, where applicable, the definitions provided in the Data Protection Act 1998;
                p
                    b Cookies:
                    | a small text file placed on your computer by this Website when you visit certain parts of the Website and/or when you use certain features of the Website. Details of the cookies used by this Website are set out in the clause below (Cookies).
                p
                    b Roadioapp, or us:
                    | Roadioapp, a company incorporated in England and Wales with registered number 9736056 and whose registered office is at 20-22 Wenlock Road, London, N1 7GU.
                p
                    b User or you:
                    | any third party that accesses the Website and is not either (i) employed by Roadioapp and acting in the course of their employment or (ii) engaged as a consultant or otherwise providing services to Roadioapp and accessing the Website in connection with the provision of such services.
                p
                    b Website:
                    | the website that you are currently using, www.roadioapp.com, and any sub-domains of this site unless expressly excluded by their own terms and conditions.
                h5 2.In this privacy policy, unless the context requires a different interpretation:
                p I. the singular includes the plural and vice versa.
                p II. references to sub-clauses, clauses, schedules or appendices are to sub-clauses, clauses, schedules or appendices of this privacy policy;
                p III. a reference to a person includes firms, companies, government entities, trusts and partnerships;
                p IV. "including" is understood to mean "including without limitation”;
                p V. reference to any statutory provision includes any modification or amendment of it;
                p VI. the headings and sub-headings do not form part of this privacy policy.
                h3 Scope of this privacy policy
                p 3. This privacy policy applies only to the actions of Roadioapp and Users with respect to this Website. It does not extend to any websites that can be accessed from this Website including, but not limited to, any links we may provide to social media websites.
                h3 Data collected
                h5 4. We may collect and process the following Data about you:
                ol
                    li I. Information you give us. You may give us information about you by filling in forms on our site www.roadioapp.com (our site) or by corresponding with us by phone, e-mail or otherwise. This includes information you provide when you register to use our site, subscribe to our service, place an order on our site, participate in discussion boards or other social media functions on our site, enter a competition, promotion or survey and when you report a problem with our site. The information you give us may include your name, address, e-mail address and phone number, financial and credit card information, personal description and photograph.
                    li II. Information we collect about you. With regard to each of your visits to our site we may automatically collect the following information:
                    li
                        p a. technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform;
                        p b. information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from our site (including date and time); products you viewed or searched for; page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page and any phone number used to call our customer service number.
                    li III. Information we receive from other sources. We may receive information about you if you use any of the other websites we operate or the other services we provide. In this case we will have informed you when we collected that Data that it may be shared internally and combined with Data collected on this site. We are also working closely with third parties (including, for example, business partners, sub-contractors in technical, payment and delivery services, advertising networks, analytics providers, search information providers, credit reference agencies) and may receive information about you from them.
                h3 Our use of Data
                p 5. For purposes of the Data Protection Act 1998, Roadioapp is the "data controller”.
                p 6. We will retain any Data you submit for up to 12 months.
                p 7. Unless we are obliged or permitted by law to do so, and subject to any third party disclosures specifically set out in this clause, your Data will not be disclosed to third parties. We may share your personal information with any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section 1159 of the UK Companies Act 200
                p We may share your information with selected third parties including:
                ol
                    li I.	Business partners, suppliers and sub-contractors for the performance of any contract we enter into with them or you;
                    li II.	Advertisers and advertising networks that require the Data to select and serve relevant adverts to you and others. We do not disclose information about identifiable individuals to our advertisers, but we may provide them with aggregate information about our users (for example, we may inform them that 500 men aged under 30 have clicked on their advertisement on any given day). We may also use such aggregate information to help advertisers reach the kind of audience they want to target (for example, women in SW1). We may make use of the personal Sata we have collected from you to enable us to comply with our advertisers' wishes by displaying their advertisement to that target audience;
                    li III.	Analytics and search engine providers that assist us in the improvement and optimisation of our site.
                p 8. All personal Data is stored securely in accordance with the principles of the Data Protection Act 1998. For more details on security see the clause below (Security).
                p 9. Any or all of the above Data may be required by us from time to time in order to provide you with the best possible service and experience when using our Website. Specifically, Data may be used by us for the following reasons, in each case in accordance with this privacy policy:
                p I.	Information you give to us. We will use this information:
                ol
                    li a.	to carry out our obligations arising from any contracts entered into between you and us and to provide you with the information, products and services that you request from us;
                    li b.	to provide you with information about other goods and services we offer that are similar to those that you have already purchased or enquired about;
                    li c.	to provide you, or permit selected third parties to provide you, with information about goods or services we feel may interest you. If you are an existing customer, we will only contact you by electronic means (e-mail or SMS) with information about goods and services similar to those which were the subject of a previous sale or negotiations of a sale to you. If you are a new customer, and where we permit selected third parties to use your Data, we (or they) will contact you by electronic means only if you have consented to this. If you do not want us to use your Data in this way, or to pass your details on to third parties for marketing purposes, please tick the relevant box situated on the form on which we collect your Data;
                    li d.	to notify you about changes to our service;
                    li e.	to ensure that content from our site is presented in the most effective manner for you and for your computer.
                p II.	Information we collect about you. We will use this information:
                ol
                    li a.	to administer our site and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;
                    li b.	to improve our site to ensure that content is presented in the most effective manner for you and for your computer;
                    li c.	to allow you to participate in interactive features of our service, when you choose to do so;
                    li d.	as part of our efforts to keep our site safe and secure;
                    li e.	to measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you;
                    li f.	to make suggestions and recommendations to you and other users of our site about goods or services that may interest you or them.
                p III.	Information we receive from other sources. We may combine this information with information you give to us and information we collect about you. We may us this information and the combined information for the purposes set out above (depending on the types of information we receive).
                h3 Third party websites and services
                p 10. Roadioapp may, from time to time, employ the services of other parties for dealing with certain processes necessary for the operation of the Website. The providers of such services do not have access to certain personal Data provided by Users of this Website.
                p You can also register to join by logging into your account with certain third-party social networking sites ("SNS") (including, but not limited to, Facebook; each such account, a "Third-Party Account"), via our Site or Application, as described below. As part of the functionality of the Site, Application and Services, you may link your Roadioapp Account with Third-Party Accounts, by either: (i) providing your Third-Party Account login information to Roadioapp through the Site, Services or Application; or (ii) allowing Roadioapp to access your Third-Party Account, as permitted under the applicable terms and conditions that govern your use of each Third-Party Account. You represent that you are entitled to disclose your Third-Party Account login information to Roadioapp and/or grant Roadioapp access to your Third-Party Account (including, but not limited to, for use for the purposes described herein), without breach by you of any of the terms and conditions that govern your use of the applicable Third-Party Account and without obligating Roadioapp to pay any fees or making Roadioapp subject to any usage limitations imposed by such third-party service providers. By granting Roadioapp access to any Third-Party Accounts, you understand that Roadioapp will access, make available and store (if applicable) any Content that you have provided to and stored in your Third-Party Account ("SNS Content") so that it is available on and through the Site, Services and Application via your Roadioapp Account and Roadioapp Account profile page. Unless otherwise specified in these Terms, all SNS Content, if any, will be considered to be Member Content for all purposes of these Terms. Depending on the Third-Party Accounts you choose and subject to the privacy settings that you have set in such Third-Party Accounts, personally identifiable information that you post to your Third-Party Accounts will be available on and through your Roadioapp Account on the Site, Services and Application. Please note that if a Third-Party Account or associated service becomes unavailable or Roadioapp's access to such Third-Party Account is terminated by the third-party service provider, then SNS Content will no longer be available on and through the Site, Services and Application. You have the ability to disable the connection between your Roadioapp Account and your Third-Party Accounts, at any time, by accessing the "Settings" section of the Site and Application. PLEASE NOTE THAT YOUR RELATIONSHIP WITH THE THIRD-PARTY SERVICE PROVIDERS ASSOCIATED WITH YOUR THIRD-PARTY ACCOUNTS IS GOVERNED SOLELY BY YOUR AGREEMENT(S) WITH SUCH THIRD-PARTY SERVICE PROVIDERS. Roadioapp makes no effort to review any SNS Content for any purpose, including but not limited to for accuracy, legality or non-infringement and Roadioapp is not responsible for any SNS Content.
                h3 Links to other websites
                p 11. This Website may, from time to time, provide links to other websites. We have no control over such websites and are not responsible for the content of these websites. This privacy policy does not extend to your use of such websites. You are advised to read the privacy policy or statement of other websites prior to using them.
                h3 Changes of business ownership and control
                p 12. Roadioapp may, from time to time, expand or reduce our business and this may involve the sale and/or the transfer of control of all or part of Roadioapp. Data provided by Users will, where it is relevant to any part of our business so transferred, be transferred along with that part and the new owner or newly controlling party will, under the terms of this privacy policy, be permitted to use the Data for the purposes for which it was originally supplied to us.
                p 13. We may also disclose Data to a prospective purchaser of our business or any part of it.
                p 14. In the above instances, we will take steps with the aim of ensuring your privacy is protected.
                h3 Controlling use of your Data
                p 15. Wherever you are required to submit Data, you will be given options to restrict our use of that Data. This may include the following:
                ol
                    li I.	use of Data for direct marketing purposes; and
                    li II.	sharing Data with third parties.
                p 16. If we collect personal Data directly from data subjects, we will inform them about:
                ol
                    li I. The purpose or purposes for which we intend to process that personal Data.
                    li II. The types of third parties, if any, with which we will share or to which we will disclose that personal Data.
                    li III. The means, if any, with which data subjects can limit our use and disclosure of their personal Data.
                p 17. If we receive personal Data about a data subject from other sources, we will provide the data subject with this information as soon as possible thereafter.
                p 18. We will also inform data subjects whose personal Data we process that we are the data controller with regard to that Data.
                h3 Functionality of the Website
                p 19. To use all features and functions available on the Website, you may be required to submit certain Data.
                p 20. You may restrict your internet browser's use of Cookies. For more information see the clause below (Cookies).
                h3 Accessing your own Data
                p 21. You have the right to ask for a copy of any of your personal Data held by Roadioapp (where such Data is held) on payment of a small fee, which will not exceed £10.
                p 22. You have the right to ask us not to process your personal Data for marketing purposes. We will usually inform you (before collecting your Data) if we intend to use your Data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your Data. You can also exercise the right at any time by contacting us at info@roadioapp.com.
                h3 Security
                p 23. Data security is of great importance to Roadioapp and to protect your Data we have put in place suitable physical, electronic and managerial procedures to safeguard and secure Data collected via this Website.
                p 24. If password access is required for certain parts of the Website, you are responsible for keeping this password confidential.
                p 25. We endeavor to do our best to protect your personal Data. However, transmission of information over the internet is not entirely secure and is done at your own risk. We cannot ensure the security of your Data transmitted to the Website.
                h3 Payments
                p 26. Card payments are processed and handled by globally trusted payment systems (Paypal or similar), and no card details whatsoever are held on Roadioapp servers.
                h3 Cookies
                p 27. This Website may place and access certain Cookies on your computer. Roadioapp uses Cookies to improve your experience of using the Website and to improve our range of products. Roadioapp has carefully chosen these Cookies and has taken steps to ensure that your privacy is protected and respected at all times. By continuing to browse the site, you are agreeing to our use of cookies.
                p 28. All Cookies used by this Website are used in accordance with current UK and EU Cookie Law.
                p 29. This Website may place the following Cookies:
                ul
                    li •	Strictly necessary cookies: These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of e-billing services.
                    li •	Analytical/performance cookies: They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.
                    li •	Functionality cookies. These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).
                    li •	Targeting cookies. These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it more relevant to your interests. We may also share this information with third parties for this purpose.
                p 30. You can choose to enable or disable Cookies in your internet browser. By default, most internet browsers accept Cookies but this can be changed. For further details, please consult the help menu in your internet browser.
                p 31. You can choose to delete Cookies at any time; however you may lose any information that enables you to access the Website more quickly and efficiently including, but not limited to, personalisation settings.
                p 32. It is recommended that you ensure that your internet browser is up-to-date and that you consult the help and guidance provided by the developer of your internet browser if you are unsure about adjusting your privacy settings.
                p 33. Except for essential cookies, all cookies will expire after one year.
                h3 General
                p 34. You may not transfer any of your rights under this privacy policy to any other person. We may transfer our rights under this privacy policy where we reasonably believe your rights will not be affected.
                p 35. If any court or competent authority finds that any provision of this privacy policy (or part of any provision) is invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted, and the validity and enforceability of the other provisions of this privacy policy will not be affected.
                p 36. Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of that, or any other, right or remedy.
                p 37. This privacy policy is governed by and interpreted according to English law. All disputes arising under this privacy policy are subject to the exclusive jurisdiction of the English courts.
                h3 Changes to this privacy policy
                p 38. Roadioapp reserves the right to change this privacy policy as we may deem necessary from time to time or as may be required by law. Any changes will be immediately posted on the Website and you are deemed to have accepted the terms of the privacy policy on your first use of the Website following the alterations.
                p You may contact Roadioapp by email at info@Roadioapp.com


        // Start of roadioapp Zendesk Widget script
        script.
            /*<![CDATA[*/window.zEmbed || function (e, t) {
                var n, o, d, i, s, a = [], r = document.createElement("iframe");
                window.zEmbed = function () {
                    a.push(arguments)
                }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document;
                try {
                    o = s
                } catch (e) {
                    n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
                }
                o.open()._l = function () {
                    var e = this.createElement("script");
                    n && (this.domain = n), e.id = "js-iframe-async", e.src = "https://assets.zendesk.com/embeddable_framework/main.js", this.t = +new Date, this.zendeskHost = "roadioapp.zendesk.com", this.zEQueue = a, this.body.appendChild(e)
                }, o.write('<body onload="document._l();">'), o.close()
            }();
            /*]]>*/
        // End of roadioapp Zendesk Widget script

        //

          SCRIPTS
          ==============================
        script(src='/javascripts/js/bootstrap.min.js')
        script(src='/javascripts/js/smoothscroll.js')
        script(src='/javascripts/js/jquery.scrollTo.min.js')
        script(src='/javascripts/js/jquery.localScroll.min.js')
        script(src='/javascripts/js/owl.carousel.min.js')
        script(src='/javascripts/js/nivo-lightbox.min.js')
        script(src='/javascripts/js/simple-expand.min.js')
        script(src='/javascripts/js/wow.min.js')
        script(src='/javascripts/js/jquery.stellar.min.js')
        script(src='/javascripts/js/retina.min.js')
        script(src='/javascripts/js/matchMedia.js')
        script(src='/javascripts/js/jquery.backgroundvideo.min.js')
        script(src='/javascripts/js/jquery.nav.js')
        script(src='/javascripts/js/jquery.ajaxchimp.min.js')
        script(src='/javascripts/js/jquery.fitvids.js')
