extends ./../layouts/dashboard_layout

block content
    aside.right-side
        section.content-header
            h1
                | Requests&nbsp;
                small Requests Info
            ol.breadcrumb
                li
                    a(href='/')
                        i.fa.fa-dashboard
                        |  Dashboard
                li.active Requests
        section.content
            .row
                .col-xs-12
                    .box
                        .box-header
                            h3.box-title Requests
                        .box-body.table-responsive.no-padding
                            table.table.table-hover
                                tr
                                    th Id
                                    th Username
                                    th Date
                                    th Status
                                    th Reason
                                - for(var i=0; i < 15; i++)
                                    tr
                                        td #{i}
                                        td Muhammad Saqib
                                        td 17-02-1997
                                        td
                                            span.label.label-success Active
                                        td Some text here for testing
                        .box-footer
                            .row
                                .col-xs-offset-9.col-xs-3
                                    .btn-group.btn-group-justified
                                        a.btn.btn-default
                                            i.fa.fa-arrow-left
                                        a.btn.btn-default 1
                                        a.btn.btn-default 1
                                        a.btn.btn-default 1
                                        a.btn.btn-default 1
                                        a.btn.btn-default
                                            i.fa.fa-arrow-right
                                    h5.text-right Page 4


